<head>
    <style>
        input,
        textarea,
        select {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%;
            box-sizing: border-box; 
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        input:hover,
        textarea:hover,
        select:hover {
            transform: scale(1.05);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Update <%=recipe.name%></h1>
    </div>
    <div class="row justify-center">
        <% if(infoSubmitObj !='' ) { %>
            <div class="col-8 alert alert-success" role="alert">
                <%= infoSubmitObj %>
            </div>
            <% } %>

                <% if(infoErrorObj !='' ) { %>
                    <div class="col-8 alert alert-danger" role="alert">
                        <%= infoErrorsObj[0].message %>
                    </div>
                    <% } %>
                        <div class="col-8">
                            <form action="/recipe/<%= recipe._id %>" method="POST">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label for="name" class="form-label">Recipe Name</label>
                                        <input type="text" name="name" id="name" class="form-control" value="<%-recipe.name%>" required>
                                    </div>

                                    <div class="col-12">
                                        <label for="description" class="form-label">Description</label>
                                        <textarea name="description" id="description" cols="38" rows="4"
                                            class="form-control"><%- recipe.description %></textarea>
                                    </div>

                                    <div class="col-12">
                                        <label for="name" class="form-label">Ingredients</label><br>
                                        <small>Example: Ice</small>
                                        <div class="ingredientList">
                                            <% recipe.ingredients.forEach(function(ingredient, index) { %>
                                                <div class="ingredientDiv mb-1">
                                                    <input type="text" name="ingredients" class="form-control" value="<%= ingredient %>">
                                                </div>
                                            <% }); %>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+
                                            Ingredient</button>
                                    </div>
                                    <div class="col-12">
                                        <label for="category">Select Category</label>
                                        <select name="category" arial-label="Category" class="form-select form-control">
                                            <option value="" <%= recipe.category === '' ? 'selected' : '' %>>Select Category</option>
                                            <option value="Thai" <%= recipe.category === 'Thai' ? 'selected' : '' %>>Thai</option>
                                            <option value="American" <%= recipe.category === 'American' ? 'selected' : '' %>>American</option>
                                            <option value="Chinese" <%= recipe.category === 'Chinese' ? 'selected' : '' %>>Chinese</option>
                                            <option value="Mexican" <%= recipe.category === 'Mexican' ? 'selected' : '' %>>Mexican</option>
                                            <option value="Indian" <%= recipe.category === 'Indian' ? 'selected' : '' %>>Indian</option>
                                            <option value="Spanish" <%= recipe.category === 'Spanish' ? 'selected' : '' %>>Spanish</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-12">
                                        <label for="image">Product Image</label>
                                        <!-- File input for new image -->
                                        <input type="file" class="form-control mt-2" name="image" accept="image/*">
                                         <!-- Display existing image if available -->
                                         <% if (recipe.image) { %>
                                            <img src="/uploads/<%= recipe.image %>" width="100" class="img-thumbnail mt-1" alt="Current Recipe Image">
                                        <% } %>
                                    </div>
                                    <!-- Add other fields as necessary -->

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-success">Update Recipe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
    </div>
</body>